body {
  margin: 7px;
  padding: 0;
  background-color: #F1F1F1;
  font-size: 0.8em;
  color:#363636;
}

#container {
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  border-top: 5px solid #8c8f91;
  border-left: 5px solid #8c8f91;
  border-right: 5px solid #8c8f91;
  border-bottom: 5px solid #8c8f91;
  width: 965px;
  background: #FFFFFF;
  background-repeat: repeat-x;
  padding-top: 10px;
  box-shadow: 3px 3px 15px #d5d5d5;
}

#content {
  float: left;
  padding-top: 10px;
  width: 700px;
  margin: 20px;
}

.dualbrand {
  float: right;
  padding-right: 0px;
}

#footer {
  clear: both;
  text-align: center;
  color: #666666;
  font-size: 0.85em;
}

a {
  color: #4a5d75;
  text-decoration: none;
}

a:hover {
  color: #369;
  text-decoration: underline;
}

h1 {
  color:#243446;
  font-size: 2.25em;
}

h2 {
  font-size: 1em;
}

h3 {
  color:#243446;
}

h4 {
}

h5 {
}

h6 {
}

span.invalid {
  padding-left: 3px;
  color: red;
}

form {
  padding: 1em;
}

label {
  float: left;
  width: 15%;
  margin-left: 20px;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
  color:#363636;
}

input {
  margin-bottom: 8px;
}

.simpletablestyle {
  background-color:#E6E7E8;
  clear:both;
  width: 550px;
}

.simpletablestyle td {
  height:2em;
  padding-left: 6px;
  font-size:11px;
  padding:5px 5px;
}

.simpletablestyle th {
  font-size:12px;
  font-weight:normal;
  padding:0 10px 0 5px;
}

.simpletablestyle thead {
  height:31px;
  font-size:10px;
  font-weight:bold;
  color:#000000;
  text-align:left;
}

.simpletablestyle .header a {
  color:#94aebd;
}

.simpletablestype tfoot {
	height: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #EAECEE;
  text-align: center;
}

.simpletablestyle tr.header td {
  padding: 0px 10px 0px 5px;
}


.simpletablestyle .subheader {
  background-color: #e6e7e8;
  font-size:10px;
  font-weight:bold;
  color:#000000;
  text-align:left;
}

.simpletablestyle tr:nth-child(odd) {
  background: #f4f3f3;
}

.simpletablestyle tr:nth-child(even) {
  background: #ffffff;
}

.simpletablestyle td a:hover {
  color:#3883ce;
  text-decoration:none; 
}